.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
  background-color: transparent;
}

.card-body {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  width: 350px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.card-image-top {
  width: 100%;
  height: 200px;
  object-fit: contain;
  display: block;
}

.buy-button {
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
  box-sizing: border-box;
}

.card-title {
  padding-bottom: 0rem;
  margin: 0rem;
  font-weight: 700;
}
